
img.icon {
  background: white;
  height: 9vw;
  width: 9vw;
  padding: 4px;
  border-radius: 10px;
}

@media (min-width: 500px) {
  #toolbar {
    width: 40%;
    padding: 2%;
  }

  p#name {
    font-size: 23px;
  }

  img.image {
    width: 5vw;
    height: 5vw;
    border-radius: 30px;
    padding: 1vw;
  }

  span.status {
    width: 3vw;
    height: 3vw;
  }

  div#buttons {
    display: none;
  }
}
