@keyframes vexScale {
  0% {
    opacity: 0;
    transform: scale(0.1);
    transform: translateX(-100px);
  }
  70% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes userScale {
    0% {
    opacity: 0;
    transform: scale(0.1);
    transform: translateX(100px);
  }
  70% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes typingOff {
  to {
    opacity: 1;
    transform: translateY(6vh);
  }
}
@keyframes typingOn {
  to {
    opacity: 1;
  }
}
