.item-input-base {
  background: #fff;
  margin: 1rem 0 1rem 0;
  border-radius: 15px;
  overflow: hidden;
}

.item-input {
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  color: #ff006a;
  width:100%;
}

.item-input:focus,
.item-input::placeholder {
  outline: none;
  color: #ff006a;
}
