.MuiListItem-root {
  background: #fff;
  width: 70vw !important;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center ;
  align-items: center ;
  text-align: center;
  color: black;
  font-size: 1rem;
}