@keyframes vexScale {
  0% {
    opacity: 0;
    transform: scale(0.1);
    transform: translateX(-100px);
  }
  70% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes userScale {
  0% {
    opacity: 0;
    transform: scale(0.1);
    transform: translateX(100px);
  }
  70% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    transform: scale(1);
  }
}

.message {
  text-align: center;
  width: fit-content;
  word-wrap: break-word;
  min-width: 80px;

  display: flex;
  flex-direction: column;

  height: fit-content;
  padding: 20px;
  margin: 8px;
  color: white;
  justify-content: center;

  row-gap: 16px;
  padding-bottom: 24px;
  border: 3px solid #ffffff;
  transition: all 0.2s;
  background-position: center;
  transition: background 0.6s;
  max-width: 200px;
  border-radius: 30px;
  font-size: 17px;
  row-gap: 0px;
}

span.date {
  font-size: 14px;
}

.vex {
  background: var(--bg-vex);
  align-self: flex-start;
  animation: vexScale 0.5s ease-in-out;
}

.user {
  background: var(--bg-user);
  align-self: flex-end;
  margin-left: auto;
  animation: userScale 0.5s ease-in-out;
}
