span.status {
  border-radius: 360px;
  width: 5vw;
  height: 5vw;
  background: var(--status-color);
  margin-right: 1rem;
}

p#vex_name {
  font-size: 2.5rem;
  font-family: "Source Sans Pro", sans-serif;
}

#toolbar {
  align-items: center;
  flex: 1;
  z-index: 2;
  width: 90%;
  height: auto;
  background: #ffffff;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0;
  padding: 2vw;
  top: 10px;
  margin-left: 2vw;
  margin-right: 2vw;
  top: 1vh;
  position: fixed;
  margin: auto;
}

@media screen and (max-width: 768px) {
  span.status {
    width: 1.4rem;
    height: 1.4rem;
  }

  p#vex_name {
    font-size: 1.5rem;
  }

  #toolbar {
    padding: 1rem;
  }
}
