ul#msg_content {
  display: flex;
  flex: 3;
  width: 100%;
  min-height: min-content;
  padding-top: 3vh;
  inset: 1px;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1vh;
  inset: 0;
  transition: all 0.5s;
 
}
