ul#msg_content {
  display: flex;
  width: 100%;
  height: 100%;
  inset: 1px;
  flex-direction: column;
  margin-top: 1vh;
  margin-bottom: 4vh;
  top: 1vh;
  transition: all 0.5s;
  margin-top: 10vh;
  overflow: hidden;
}
