img.image {
  width: 10vw;
  height: 10vw;
  border-radius: 10px;
  background: #99205c;
  padding: 1vw;
}

span.status {
  border-radius: 360px;
  width: 5vw;
  height: 5vw;
  background: var(--status-color);
  margin-right: 8px;
}

p#name {
  font-size: 6vw;
  font-family: "Source Sans Pro", sans-serif;
}

#toolbar {

  width: 90%;
  height: min-content;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0;
  padding: 2vw;
  top: 10px;
  margin-left: 2vw;
  margin-right: 2vw;
  position: sticky;
}
