.message {
  --background: white;
  --color: white;
  border-radius: 15px;
  margin: 10px;

  display: flex;
  flex-direction: column;
  min-width: 50px; /* Largura mínima */
  white-space: nowrap; /* Impede que o texto quebre em várias linhas */
}

.message p {
  color: white;
}
.message-other {
  margin-left: auto;
  align-self: flex-start;

  width: fit-content;
  border-top-right-radius: 0;
  --background: rgba(66, 43, 177, 0.9);
}

.message-vex {
  --background: rgba(220, 17, 47, 0.9);
  align-self: flex-start;
  width: fit-content;
  margin-right: 10px;
  max-width: 80%;

  border-top-left-radius: 0;
}

.chat-contact {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}
.chat-contact img {
  height: 3rem;
  width: 3rem;
  border-radius: 500px;
}

.chat-contact-details {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  text-align: left;
}

.chat-contact-details p {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
}

.chat-contact-details ion-text {
  font-size: 0.9rem;
  font-weight: 400;
  --color: white;
  color: rgb(255, 255, 255);
}

ion-toolbar.toolbar {
  margin-bottom: 10px;
  padding: 10px;
}
