.message {
  --background: white;
  --color: white;
  border-radius: 15px;
  margin: 10px;
  flex-direction: column;
  max-width: fit-content;
  display: flex;
  min-width: 40%;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: center;
}

.message p {
  color: white;
}
.message-other {
  margin-left: auto;
  align-self: flex-start;
  border-top-right-radius: 0;
  --background: rgba(66, 43, 177, 0.9);
}

.message-vex {
  --background: rgba(220, 17, 47, 0.9);
  align-self: flex-start;
  margin-right: 10px;
  border-top-left-radius: 0;
}

.chat-contact {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}
.chat-contact img {
  height: 3rem;
  width: 3rem;
  border-radius: 500px;
}

.chat-contact-details {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  text-align: left;
}

.chat-contact-details p {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
}

.chat-contact-details ion-text {
  font-size: 0.9rem;
  font-weight: 400;
  --color: white;
  color: rgb(255, 255, 255);
}

ion-toolbar.toolbar {
  margin-bottom: 10px;
  padding: 10px;
}
